.search-button {
    background-color: #E9C400;
    border-radius: 35px;
    color: black;
    cursor: pointer;
    padding: 10px 20px;
    width: auto;
    height: 50px;
}

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.rounded-input {
    border-radius: 35px;
    border: 1px solid black;
    margin-right: 20px;
    background-color: white;
    font-weight: 500;
    width: 20%;
    height: 50px;
    color: black;
    text-align: center;
}

.rounded-input::placeholder {
    text-align: center;
}
