@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

body {
    font-family: "Jaldi", sans-serif;
    background: #FDFDFD;
}

p {
    margin: 0
}

input, button, select, option {
    font-family: inherit;
}

button, .button {
  all: unset;
  color: #FDFDFD;
  background: #ff473e;
  border-radius: calc(3*8px);
  padding: 8px 16px;

  &:hover {
    cursor: pointer;
    background: #cc0a00;
  }
}

.button-blue {
  background: #329DFF
}